{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Courses</h1>


{% for course in course_list %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if course.course_image %}
            <a href="{% url 'course_detail' course.id %}">
                <img src="{{ course.course_image.url }}" width=200
                height=200 class="img-fluid rounded-start" alt="">
            </a>
            {% else %}
            <a href="{% url 'course_detail' course.id %}">
                <img src="{% static 'images/generic_profile_pic.png' %}" 
                class="img-fluid rounded-start" 
                alt="">
            </a>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> {{course.title}}</h5>
          <p class="card-text">Course Decription: {{ course.description }}</p>
            {% if course.teacher %}
            <p class="card-text"><small class="text-body-secondary">Teacher led course.</small></p>
            {% else %}
            <p class="card-text"><small class="text-body-secondary">Student Led Course</small></p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}