{% extends 'base.html' %}
{% block content %}

<h1>Study Requests</h1>
<br/>
{% for study_request in study_requests %}
<div class="card">
    <div class="card-header">
      <h5> Course {{study_request.course.title }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Date: {{study_request.date }}</p>
      <p class="card-text">Time: {{study_request.start_time }} - {{study_request.end_time }}</p>
      <p class="card-text">Meeting Type: {{study_request.meeting_type|title}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <br/>
{% endfor %}

{% endblock content %}