{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Update Profile</h1>
    <br/>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <br/>
        <strong>{{ profile_form.profile_image.label_tag }}</strong>
        {{ profile_form.profile_image }}
        <br/>
        {{ profile_form.about_me }}
        <br/>
        <br/>
        <strong>{{ profile_form.interested_categories.label_tag }}</strong>
        <div class="row">
            {% with categories=profile_form.interested_categories.field.queryset.all %}
                {% with selected_categories=profile_form.instance.interested_categories.all %}
                    {% for category in categories %}
                        <div class="col-md-3">
                            <label>
                                <input type="checkbox" name="{{ profile_form.interested_categories.name }}" value="{{ category.id }}"
                                {% if category in selected_categories %}checked{% endif %}>
                                {{ category }}
                            </label>
                        </div>
                    {% endfor %}
                {% endwith %}
            {% endwith %}
        </div>
    </br/>
        {{ user_form.as_p }}
        <br/>
        <div class="row">
            <div class="col-3">
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
            <div class="col-3">
                <a href="{{ profile_url }}" class="btn btn-outline-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
